#absl-py==1.2.0
#accelerate==0.22.0
#aenum==3.1.11
#affine==2.3.1
#agate==1.7.0
#aiohttp==3.8.1
#aiosignal==1.2.0
#ansi2html==1.8.0
#ansiwrap==0.8.4
#anyio==3.6.1
#appdirs==1.4.4
#argon2-cffi==21.3.0
#argon2-cffi-bindings==21.2.0
#arrow==1.2.2
#asn1crypto==1.5.1
#asttokens==2.0.8
#astunparse==1.6.3
#async-timeout==4.0.2
#attrs==21.4.0
#autopep8==2.0.0
#awscli==1.29.40
#awswrangler==2.16.1
#Babel==2.10.3
#backcall==0.2.0
#backoff==2.1.2
#backports.zoneinfo==0.2.1
#beautifulsoup4==4.11.1
#bertopic==0.15.0
#black==22.6.0
#bleach==5.0.1
#blis==0.7.10
#bokeh==3.1.1
#boto3==1.28.40
#botocore==1.31.40
#branca==0.5.0
#bt==0.2.9
#cached-property==1.5.2
#cachetools==5.2.0
#Cartopy==0.21.0
#catalogue==2.0.9
#catboost==1.0.6
#category-encoders==2.6.2
#cattrs==22.2.0
#certifi==2019.11.28
#cffi==1.15.1
#chardet==3.0.4
#charset-normalizer==2.0.12
#click==8.1.3
#click-plugins==1.1.1
#cligj==0.7.2
#cloudpickle==2.1.0
#cmdstanpy==1.0.8
#colorama==0.4.4
#confection==0.1.3
#contextily==1.2.0
#contourpy==1.0.6
#convertdate==2.4.0
#cryptography==37.0.4
#cycler==0.11.0
#cymem==2.0.7
#Cython==0.29.32
#dash==2.13.0
#dash-core-components==2.0.0
#dash-html-components==2.0.0
#dash-table==5.0.0
#dask==2022.8.1
#datasets==2.10.1
#dbconnect @ git+https://github.com/datacamp/dbconnect-python@b553f66aeb7328b1f2439728ab8e85b9c1ba5bf8
#dbt-core==1.5.0
#dbt-duckdb==1.5.2
#dbt-extractor==0.4.1
#dbt-postgres==1.5.0
#dbt-sqlite==1.4.0
#dbus-python==1.2.16
#dcdcpy @ git+https://github.com/datacamp/dcdcpy.git@5b8e1f9503747fdb81475d32db01eb83ca2c5deb
#deap==1.3.3
#debugpy==1.6.3
#decorator==5.1.1
#defusedxml==0.7.1
#Deprecated==1.2.13
#deprecation==2.1.0
#diffusers==0.14.0
#dill==0.3.5.1
#distro-info==0.23+ubuntu1.1
#docutils==0.16
#dropbox==11.33.0
#duckdb==0.8.1
#en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl#sha256=83276fc78a70045627144786b52e1f2728ad5e29e5e43916ec37ea9c26a11212
#entrypoints==0.4
#enum34==1.1.10
#ephem==4.1.3
#et-xmlfile==1.1.0
#exceptiongroup==1.0.0rc8
#executing==0.10.0
#fastjsonschema==2.16.2
#ffmpeg-python==0.2.0
#ffn==0.3.6
#filelock==3.8.0
#Fiona==1.8.21
#fire==0.4.0
#Flask==2.2.2
#flatbuffers==1.12
#folium==0.12.1.post1
#fonttools==4.37.1
#frozendict==2.3.4
#frozenlist==1.3.1
#fsspec==2022.7.1
#fstring-magic @ git+https://github.com/innovationOUtside/fstring-magic.git@f62ecaaab7de22482d3344d213760924ae4503f0
#funcy==2.0
#future==0.18.2
#Fuzzy==1.2.2
#fuzzywuzzy==0.18.0
#gast==0.4.0
#GDAL==3.4.3
#gdown==4.6.0
#gensim==4.3.2
#geographiclib==2.0
#geopandas==0.11.1
#geoplot==0.5.1
#geopy==2.3.0
#gitdb==4.0.9
#GitPython==3.1.27
#google-auth==2.11.0
#google-auth-oauthlib==0.4.6
#google-pasta==0.2.0
#graphviz==0.20.1
#greenlet==1.1.3
#gremlinpython==3.6.1
#grpcio==1.47.0
#gspread==5.10.0
#h5py==3.7.0
#hdbscan==0.8.33
#hijri-converter==2.2.4
#holidays==0.17
#hologram==0.0.16
#html5lib==1.1
#huggingface-hub==0.11.0
#idna==2.8
#imageio==2.21.1
#imbalanced-learn==0.9.1
#importlib-metadata==4.12.0
#importlib-resources==5.10.0
#iniconfig==1.1.1
#ipykernel==6.15.1
#ipympl==0.9.2
#ipython==8.4.0
#ipython-genutils==0.2.0
#ipywidgets==8.0.1
#isodate==0.6.1
#itsdangerous==2.1.2
#jedi==0.18.1
#jeepney==0.8.0
#jellyfish==0.9.0
#Jinja2==3.1.2
#jinjasql @ git+https://github.com/datacamp-engineering/jinjasql.git@1fea7ca2824f9a9e48d6bda9e7f2cd320e8249fd
#jmespath==1.0.1
#joblib==1.3.2
#json5==0.9.10
#jsonify==0.5
#jsonpath-ng==1.5.3
#jsonpickle==3.0.1
#jsonrpcserver==5.0.5
#jsonschema==3.2.0
#jupyter-contrib-core==0.4.2
#jupyter-contrib-nbextensions==0.7.0
#jupyter-core==4.11.1
#jupyter-highlight-selected-word==0.2.0
#jupyter-nbextensions-configurator==0.6.1
#jupyter-server==1.23.2
#jupyter-server-mathjax==0.2.6
#jupyter_client==7.4.7
#jupyterlab==3.5.0
#jupyterlab-git==0.39.3
#jupyterlab-pygments==0.2.2
#jupyterlab-spellchecker==0.7.2
#jupyterlab-widgets==3.0.2
#jupyterlab_server==2.16.3
#jupytext==1.13.7
#kaleido==0.2.1
#keras==2.9.0
#Keras-Preprocessing==1.1.2
#keyring==23.8.2
#keyrings.alt==4.1.1
#kiwisolver==1.4.4
#korean-lunar-calendar==0.3.1
#langcodes==3.3.0
#lasio==0.30
#lazy_loader==0.1rc2
#leather==0.3.4
#libclang==14.0.6
#lightgbm==3.3.3
#lime==0.2.0.1
#line-profiler==4.0.2
#littleutils==0.2.2
#llvmlite==0.40.1
#locket==1.0.0
#Logbook==1.5.3
#LunarCalendar==0.0.9
lxml==4.9.1
#mapclassify==2.4.3
#Markdown==3.4.1
#markdown-it-py==1.1.0
#markdown2==2.3.7
#MarkupSafe==2.1.1
#mashumaro==3.6
matplotlib==3.6.3
#matplotlib-inline==0.1.6
#mdit-py-plugins==0.3.0
#mercantile==1.2.1
#minimal-snowplow-tracker==0.0.2
#missingno==0.5.1
#mistune==2.0.4
#mizani==0.8.1
#more-itertools==9.0.0
#mpmath==1.2.1
#msgpack==1.0.5
#multidict==6.0.2
#multiprocess==0.70.13
#multitasking==0.0.11
#munch==2.5.0
#murmurhash==1.0.9
#mypy-extensions==0.4.3
#nbclassic==0.4.8
#nbclient==0.7.0
#nbconvert==7.2.5
#nbdime==3.1.1
#nbformat==5.7.0
#nbstripout==0.6.0
#nest-asyncio==1.5.5
#networkx==2.8.6
#nltk==3.7
#notebook==6.4.12
#notebook-shim==0.1.0
#numba==0.57.1
#numexpr==2.8.3
#numpy==1.23.2
#nvidia-cublas-cu11==11.10.3.66
#nvidia-cuda-nvrtc-cu11==11.7.99
#nvidia-cuda-runtime-cu11==11.7.99
#nvidia-cudnn-cu11==8.5.0.96
#nxviz==0.7.4
#oauthlib==3.2.0
#olefile==0.46
#onelogin==2.0.4
#onelogin-aws-cli==0.1.17
#openai==0.27.1
#openpyxl==3.0.10
#opensearch-py==1.1.0
#opt-einsum==3.3.0
#orjson==3.9.5
#OSlash==0.6.3
#outdated==0.2.2
#p2j==1.3.2
#packaging==21.3
#palettable==3.3.0
pandas==1.5.1
#pandas-datareader==0.10.0
#pandas-flavor==0.3.0
#pandas-ml==0.6.1
#pandasql==0.7.3
#pandocfilters==1.5.0
#papermill==2.3.3
#parsedatetime==2.4
#parso==0.8.3
#partd==1.3.0
#pathspec==0.9.0
#pathy==0.10.2
#patsy==0.5.2
#pdfminer.six==20221105
#pdfplumber==0.10.2
#pexpect==4.8.0
#pg8000==1.29.1
#pickleshare==0.7.5
#Pillow==9.2.0
#pingouin==0.5.3
#platformdirs==2.5.2
#plotly==5.10.0
#plotly-resampler==0.9.1
#plotnine==0.10.1
#pluggy==1.0.0
#ply==3.11
#pmdarima==2.0.3
#preshed==3.0.8
#progressbar2==4.0.0
#prometheus-client==0.14.1
#prompt-toolkit==3.0.30
#prophet==1.1.1
#protobackend==0.2.2
#protobuf==3.19.4
#protowhat @ git+https://github.com/datacamp/protowhat.git@90e7e4ea5f1a1353464cf0d48f55dbf582b2bad2
#psutil==5.9.4
#psycopg2==2.9.3
#psycopg2-binary==2.9.7
#ptyprocess==0.7.0
#pure-eval==0.2.2
#py==1.11.0
#py4j==0.10.9.5
#pyarrow==7.0.0
#pyasn1==0.4.8
#pyasn1-modules==0.2.8
#pyathena==2.14.0
#pycaret==3.0.4
#pycodestyle==2.9.1
#pycparser==2.21
#pydantic==1.10.12
#Pygments==2.13.0
#PyGObject==3.36.0
#pygwalker==0.1.4.8
#PyJWT==2.1.0
#pyLDAvis==3.3.1
#PyMeeus==0.5.11
#PyMySQL==1.0.2
#pynndescent==0.5.8
#pyod==1.1.0
#pyparsing==3.0.9
#pypdfium2==4.19.0
#PyPrind==2.11.3
#pyproj==3.3.1
#pyrsistent==0.18.1
#pyshp==2.3.1
#PySocks==1.7.1
#pyspark==3.3.1
#pytest==7.1.2
#python-apt==2.0.1+ubuntu0.20.4.1
#python-box==6.1.0
#python-dateutil==2.8.2
#python-debian==0.1.36+ubuntu1.1
#python-json-logger==2.0.2
#python-slugify==8.0.1
#python-utils==3.3.3
#pythonbackend @ git+https://github.com/datacamp-engineering/pythonbackend.git/@7a184db5706722d4fde24897bd2d784c874a8261
#pythonwhat @ git+https://github.com/datacamp/pythonwhat.git@91ed4570196f5eadbde6fa2eb1c40c436fcc13d2
#pytimeparse==1.1.8
#pyts==0.12.0
#pytz==2022.7
#pyvis==0.3.2
#PyWavelets==1.3.0
#PyYAML==6.0.1
#pyzmq==23.2.1
#rasterio==1.3.4
#recordlinkage==0.15
#redis==4.3.4
#redshift-connector==2.0.909
#regex==2022.8.17
#requests==2.31.0
#requests-aws4auth==1.1.2
#requests-cache==0.9.7
#requests-oauthlib==1.3.1
#requests-unixsocket==0.2.0
#responses==0.10.15
#retrying==1.3.4
#rsa==4.7.2
#s3transfer==0.6.0
#sas7bdat==2.2.3
#schemdraw==0.15
#scikit-base==0.5.1
#scikit-image==0.19.3
#scikit-learn==1.1.2
#scikit-plot==0.3.7
#scipy==1.9.0
#scramp==1.4.1
seaborn==0.12.2
#SecretStorage==3.3.3
#Send2Trash==1.8.0
#sentence-transformers==2.2.2
#sentencepiece==0.1.97
#setuptools-git==1.2
#shap==0.41.0
#Shapely==1.8.4
#simplegeneric==0.8.1
#siuba==0.3.0
#six==1.14.0
#sklearn==0.0.post9
#sktime==0.22.0
#slack-sdk==3.21.3
#slicer==0.0.7
#smart-open==6.4.0
#smmap==5.0.0
#sniffio==1.2.0
#snuggs==1.4.7
#soundfile==0.11.0
#soupsieve==2.3.2.post1
#spacy==3.6.1
#spacy-legacy==3.0.12
#spacy-loggers==1.0.5
#SQLAlchemy==1.4.40
#sqlalchemy-redshift==0.8.11
#sqlparse==0.4.3
#srsly==2.4.7
#stack-data==0.4.0
#statsmodels==0.13.2
#stdlib-list==0.8.0
#stone==3.3.1
#stopit==1.1.2
#supervisor==4.1.0
#sympy==1.11
#TA-Lib==0.4.24
#tables==3.7.0
#tabulate==0.8.10
#tbats==1.1.3
#tenacity==8.0.1
#tensorboard==2.9.1
#tensorboard-data-server==0.6.1
#tensorboard-plugin-wit==1.8.1
#tensorflow-cpu==2.9.3
#tensorflow-estimator==2.9.0
#tensorflow-io-gcs-filesystem==0.26.0
#termcolor==1.1.0
#terminado==0.15.0
#text-unidecode==1.3
#textblob==0.17.1
#textwrap3==0.9.2
#thefuzz==0.19.0
#thinc==8.1.12
#thinkx==1.1.3
#threadpoolctl==3.1.0
#tifffile==2022.8.12
#tinycss2==1.1.1
#tokenizers==0.13.2
#toml==0.10.2
#tomli==2.0.1
#toolz==0.12.0
#torch==1.13.0
#torchvision==0.14.0
#tornado==6.2
#TPOT==0.11.7
#tqdm==4.64.0
#trace-updater==0.0.9.1
#traitlets==5.3.0
#transformers==4.29.0
#tsdownsample==0.1.2
#typer==0.9.0
#typing-inspect==0.8.0
#typing_extensions==4.5.0
#ubuntu-advantage-tools==8001
#umap-learn==0.5.3
#unattended-upgrades==0.1
#update-checker==0.18.0
#url-normalize==1.4.3
#urllib3==1.25.8
#utilmy==0.1.16684231
#Wand==0.6.10
#wasabi==1.1.2
#wcwidth==0.2.5
#webencodings==0.5.1
#websocket-client==1.4.0
#Werkzeug==2.2.2
#widgetsnbextension==4.0.2
#wordcloud==1.9.2
#wrapt==1.14.1
#wurlitzer==3.0.3
#xarray==2022.11.0
#xgboost==1.6.2
#xlrd==2.0.1
#xxhash==3.3.0
#xyzservices==2022.9.0
#yarl==1.8.1
#yellowbrick==1.5
#yfinance==0.2.28
#zipp==3.8.1
